.pulse {
    /* background: #ebebeba0; */
    border-radius: 50%;
    animation: animate-pulse 3s linear infinite;
    cursor: pointer
}
.showMenuList {
    display: none;
}
@media (max-width: 767px) {
    .showMenuList {
        display: block;
    }
}
@keyframes animate-pulse {
    0% {
        box-shadow: 0 0 0 0 #ebebeba0, 0 0 0 0 rgba(30, 106, 153, 0.7);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 0 rgba(30, 106, 153, 0.7);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.0), 0 0 0 30px rgba(255, 109, 74, 0);
    }

}
.button {
    background: none;
    border: none;
  }
  .button .bloom-container {
    position: relative;
    transition: all 0.2s ease-in-out;
    border: none;
    background: none;
  }
  .button .bloom-container .button-container-main {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: grid;
    place-content: center;
    border-right: 5px solid white;
    border-left: 5px solid rgba(128, 128, 128, 0.147);
    transform: rotate(-20deg);
    transition: all 0.5s ease-in-out;
  }
  .button .bloom-container .button-container-main .button-inner {
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) -10px 5px 10px 0px;
    transition: all 0.5s ease-in-out;
  }
  .button .bloom-container .button-container-main .button-inner .back {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: linear-gradient(
      60deg,
      rgb(245, 255, 255) 0%,
      rgba(30, 106, 153, 0.7) 100%
    );
  }
  .button .bloom-container .button-container-main .button-inner .front {
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: linear-gradient(60deg, rgb(0, 0, 0));
    display: grid;
    place-content: center;
    transform: rotate(20deg);
  }
  .button .bloom-container .button-container-main .button-inner .front .svg {
    fill: #ffffff;
    opacity: 0.5;
    width: 30px;
    aspect-ratio: 1;
    transition: all 0.2s ease-in;
  }
  .button .bloom-container .button-container-main .button-glass {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.888) 100%
    );
    transform: translate(0%, -50%) rotate(0deg);
    transform-origin: bottom center;
    transition: all 0.5s ease-in-out;
  }
  .button .bloom-container .bloom {
    height: 1px;
    width: 1px;
    position: absolute;
    background: white;
  }
  
  .button .bloom-container .bloom1 {
    top: 10px;
    right: 20px;
    box-shadow: rgb(255, 255, 255) 0px 0px 10px 10px,
      rgb(255, 255, 255) 0px 0px 20px 20px;
  }
  
  .button .bloom-container .bloom2 {
    bottom: 10px;
    left: 20px;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 10px,
      rgba(255, 255, 255, 0.5) 0px 0px 30px 20px;
  }
  
  .button .bloom-container:hover {
    transform: scale(1.1);
  }
  
  .button .bloom-container:hover .button-container-main .button-glass {
    transform: translate(0%, -40%);
  }
  
  .button
    .bloom-container:hover
    .button-container-main
    .button-inner
    .front
    .svg {
    opacity: 1;
    filter: drop-shadow(0 0 10px white);
  }
  
  .button .bloom-container:active {
    transform: scale(0.7);
  }
  
  .button .bloom-container:active .button-container-main .button-inner {
    transform: scale(1.2);
  }
  