.card-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  .cardAbout {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card.selected {
    border: 2px solid #6c63ff; /* Adjust the border color as per your design */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .card-text {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  