.typewriter {
  width: auto;
  max-width: 100%;
}

.typewriter h2 {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
  color: white;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: white;
  }
}

.pagelogoCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: #91beeb; */
}

.ImageLogostart {
  width: 350px;
  max-width: 100%;
  margin: auto;
  height: 300px;
  max-height: 100%;
}

.ImageLogostart {
  animation: spin infinite 2.5s linear;

  will-change: transform;
}

@keyframes spin {
  0% {
    transform: scale3d(1, 1, 1)
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  100% {
    transform: scale3d(1.5, 1.5, 1.5)
  }
}


@media (max-width: 767px) {
  .hiddenveston {
    display: none;
  }
}

@media (max-width: 667px) {
  .imagelogoMobile {
    width: 300px;

  }
}

.loginSection {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginSection .container {
  background-color: #fff;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.loginSection .welcome-section {
  background-color: #1e6a99;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;


}

.loginSection .welcome-section .h1Login {
  margin-bottom: 20px;
  font-size: 24px;
  direction: rtl;
  display: block;
}

.welcome-section p {
  margin-bottom: 10px;
  font-size: 18px;
  direction: rtl;

}

.logoCompany {
  margin: 20px 0;
  width: 200px;
  /* background-color: white; */
  height: auto;
  border-radius: 10px;
  text-align: center;
}

.login-section h2 {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.form-group label {
  float: right;
}

.form-check-label {
  float: right;
}

.btn-primary {
  width: 100%;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.loginSection .ImgeLogo {
  /* color: white; */
  /* position: absolute; */
  padding-top: 0px;
}

.vh-100 {
  height: 100vh;
}

.d-flex {
  display: flex;
}

.position-relative {
  position: relative;
}

/* 
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
} */
.positionLogin {
  /* position: relative; */
  height: 100vh;

}

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: linear-gradient(to bottom, #49158C 0%, #EEBA0B 100%);
  padding: 30px;
  height: 80%;
  border-radius: 20px;
  overflow: hidden;
}

.login-container {
  position: absolute;
  width: 100%;
  height: 60em;
  /* margin-right: 200px; */
  left: -100px;
  top: -60px;
  max-width: 100%;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
  transform: rotate(40deg);
  /* overflow: hidden; */

}

.login-background {
  transform: rotate(-40deg);
}

.login-content {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .login-content {
    flex-direction: column;
    /* justify-content: center; */
    
  }
  .login-wrapper{
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
  .displayNone{
    display: none;
  }
}


.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.logo-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-title {
  font-size: 24px;
  color: #4A148C;
}

.login-form {
  text-align: right;
}

.form-title {
  font-size: 24px;
  color: #4A148C;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background: #4A148C;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.LogoLogin {
  background: white;
  border-radius: 50%;
  padding: 10px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  max-height: 100%;
}

.LogoLogin .right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo-circle {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* width: 200px; */
  height: 100%;
  margin-bottom: 20px;
}

.circleLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.yellow {
  background-color: #FFC107;
}

.purple {
  background-color: #6A1B9A;
  border-bottom-right-radius: 1px;
}

.light-purple {
  background-color: #7F6AD2;
  border-bottom-right-radius: 1px;
}

.light-yellow {
  background-color: #FFEB3B;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}

.text {
  text-align: center;
}

.bank-name {
  color: #FFD600;
  font-size: 24px;
}

.bank-description {
  color: #000;
  font-size: 18px;
}

.lineDisplay {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  /* width: 200px; */
  height: 100%;
  margin-bottom: 20px;
  position: absolute;

}

 .leftBorder {
  left: -90px;
  /* top: 0px; */
}

 .rightBorder {
  top: -106px;
  right: 350px;

}
.BottomBorder{
  bottom: -25em;
}
.rightBorderBlack{
  right: -0em;
}
.lineDisplay .linBorder {
  width: 1px;
  background-color: #0056b3;
}

.lineDisplay .linBorder1 {
  height: 10px;
}

.lineDisplay .linBorder2 {
  height: 20px;
}

.lineDisplay .linBorder3 {
  height: 30px;
}

.lineDisplay .linBorder4 {
  height: 40px;
}

.lineDisplay .linBorder5 {
  height: 50px;
}

.lineDisplay .linBorder6 {
  height: 60px;
}

.lineDisplay .linBorder7 {
  height: 70px;
}

.lineDisplay .linBorder8 {
  height: 60px;
}

.lineDisplay .linBorder9 {
  height: 50px;
}

.lineDisplay .linBorder10 {
  height: 40px;
}

.lineDisplay .linBorder11 {
  height: 30px;
}

.lineDisplay .linBorder12 {
  height: 20px;
}

.lineDisplay .linBorder13 {
  height: 10px;
}