.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.PointerContainer {
  height: 100vh;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  overflow: hidden !important;
  background: #fff;
}

section {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #fff;
}

.white {
  height: 100%;
  width: 50%;
  background: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white h1 {
  position: relative;
  left: 50%;
  mix-blend-mode: difference;
}

.black {
  height: 100%;
  width: 50%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black h1 {
  position: relative;
  left: -50%;
  mix-blend-mode: difference;
}
/* 
section h1 {
  position: absolute;
  font-size: 22em;
  display: flex;
} */

/* h1 span {
  color: transparent;
  -webkit-text-stroke: 4px yellow;
} */

#pointer {
  z-index: 5;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
}

@media (max-width: 768px) {
  section h1 {
      font-size: 10em;
  }

  #pointer {
      width: 150px;
      height: 150px;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-width: 20px
}

body {
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {

  margin-left: auto;
  margin-right: auto;
}

.handelLoader {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
  /* Correct the translate function */
}

/* @media (min-width: 390px) {
  .containerCustomGridTable {
      width: 360px;
  }
}
@media (min-width: 500px) {
  .containerCustomGridTable {
      width: 550px;
  }
} */
/* Small */
@media (min-width: 768px) {
  .containerCustomGridTable {
      width: 850px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .containerCustomGridTable {
      width: 100%;
  }
}

/* Large */
@media (min-width: 1200px) {
  .containerCustomGridTable {
      width: 1370px;
  }
}

@media (min-width: 1700px) {
  .containerCustomGridTable {
      width: 1670px;
  }
}

.containerCustomGridTable {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotating {
  from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

.refreshButton {
  &:hover {
      cursor: pointer;
      -webkit-animation: rotating 1.2s linear infinite;
      -moz-animation: rotating 1.2s linear infinite;
      -ms-animation: rotating 1.2s linear infinite;
      -o-animation: rotating 1.2s linear infinite;
      animation: rotating 1.2s linear infinite;
  }

  &:active {
      .icon {
          fill: #5ac938;
      }

  }
}

.posisionRefersh {
  position: fixed;
  bottom: 30px;
  right: 50%
}

.PostionLoader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
}